<header>
  <nav>
    <a href="/" class="mr-4 {% if page.url === '/' %}border-b-2 border-blue-500{% endif %}">{{ metadata.title }}</a>
    {% for item in navigation %}
        <a href="{{ item.url }}" class="mr-4 {% if page.url.includes(item.url) %}border-b-2 border-blue-500{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </nav>
</header>
