---
title: Just Eric
---
<!doctype html>
<html lang="en">
  
  {% include '_head.njk' %}
  
  <body class="mx-4 mt-4 text-gray-700">
    
    {% include '_header.njk' %}
    <main class="min-h-screen">
      {{ content | safe }}
    </main>
    {% include '_footer.njk' %}
    
    {# <script src="https://unpkg.com/popper.js" type="text/javascript"></script> #}
    {# <script src="https://unpkg.com/tooltip.js" type="text/javascript"></script> #}
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>