---
layout: layouts/base.njk
---

<article class="flex flex-wrap max-w-2xl">
    <div>
        <h1 class="text-lg">{{ title }}</h1>
        <h2 class="text-sm">({{ subtitle }})</h2>
        <p class="text-xs">{{ page.date | dateDisplay }}<p>
    </div>

    {{ content | safe }}
</article>

{% changelog filePath=page.inputPath %}