---
layout: layouts/base.njk
title: Blog
eleventyExcludeFromCollections: true
tags: post
---

<h1 class="text-xl">Posts</h1>
<ol class="list-inside list-decimal" reversed>
  {% for post in collections.post | reverse %}
    <li>
      <span><a href="{{ post.url }}">{{ post.data.title }}</a> - {{ post.date | dateDisplay }}</span>
    </li>
  {% endfor %}
</ol>
